<% include partials/header %>

<div class="wrapper">
    <div class="landing">
        <div class="landing-text-container container">
            <div class="row landing-text-row">
                <div class="col-sm-12">
                    <div class="landing-text">
                        <h1>Eucada</h1>
                        <h1>Agency</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-btn">
            <p>Scroll Down</p>
            <button class="scroll-btn"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
        </div>
    </div>
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-container">
                        <h1>W</h1>
                        <p>We Are An Awesome Agency</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="feature-card">
                        <div><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <h1>Feature One</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae tempore maiores voluptatum.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature-card">
                        <div><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <h1>Feature One</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae tempore maiores voluptatum.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature-card">
                        <div><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <h1>Feature One</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae tempore maiores voluptatum.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="feature-card">
                        <div><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <h1>Feature One</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae tempore maiores voluptatum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="article01">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 art-content-container">
                    <div class="art-content">
                        <p>Jan 4, 2015 | in Culture</p>
                        <h1>Lorem Ipsum Lorem</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, neque esse voluptas nisi minima illo nostrum ex sunt, repellendus, saepe debitis recusandae? Non impedit autem architecto! Voluptatem suscipit consectetur neque!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, neque esse voluptas nisi minima illo nostrum ex sunt, repellendus, saepe debitis recusandae?</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="art-pic"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="article02">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="art-pic"></div>
                </div>
                <div class="col-sm-6 art-content-container">
                    <div class="art-content">
                        <p>Jan 4, 2015 | in Culture</p>
                        <h1>Lorem Ipsum Lorem</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, neque esse voluptas nisi minima illo nostrum ex sunt, repellendus, saepe debitis recusandae? Non impedit autem architecto! Voluptatem suscipit consectetur neque!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, neque esse voluptas nisi minima illo nostrum ex sunt, repellendus, saepe debitis recusandae?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-container">
                        <h1>S</h1>
                        <p>Services You Will Love</p>
                    </div>
                </div>
            </div>
            <p class="middle-text">We love clean web design and advanced digital solutions.</p>
            <div class="row">
                <div class="col-sm-3">
                    <div class="blog-img"></div>
                    <h1>Fresh Summer Campaign</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum omnis impedit dolores vitae nesciunt aliquam nemo sit animi?</p>
                </div>
                <div class="col-sm-3">
                    <div class="blog-img"></div>
                    <h1>Fresh Summer Campaign</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum omnis impedit dolores vitae nesciunt aliquam nemo sit animi?</p>
                </div>
                <div class="col-sm-3">
                    <div class="blog-img"></div>
                    <h1>Fresh Summer Campaign</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum omnis impedit dolores vitae nesciunt aliquam nemo sit animi?</p>
                </div>
                <div class="col-sm-3">
                    <div class="blog-img"></div>
                    <h1>Fresh Summer Campaign</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum omnis impedit dolores vitae nesciunt aliquam nemo sit animi?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="customers">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="customer-img-quote">
                        <div></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo neque dolor accusamus numquam.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="customer-img-quote">
                        <div></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo neque dolor accusamus numquam.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gaurantee">
        <div class="container-fluid">
            <div class="row info-img-container">
                <div class="col-sm-6 info-container"><div class="info">
                    <h1>GERMAN SHEPHERD DOG</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa asperiores fugit neque, ipsam placeat saepe. Aspernatur minima exercitationem odio facere assumenda tempore deleniti temporibus dolores, in modi aut! Nemo.</p>
                    <div><p>Fully Responsive Design</p></div>
                    <div><p>High Quality Code</p></div>
                    <div><p>Different Headers &amp; Layout</p></div>
                </div></div>
                <div class="col-sm-6 img-container"><div class="img"><img src="/img/dev/mobile2.png" alt=""></div></div>
            </div>
        </div>
    </section>
    <section class="employees">
    
    </section>
</div>

<% include partials/footer %>
